
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px; 
}

  body {
      display: flex;
      align-items: center;
      height: 100vh;
      background-color: #eee4e4;
      color: white;
      text-align: center;
      font-family: sans-serif;
}

  .container {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      width: 1920px;
      height: 950px;
      margin: auto;

  }

  .content-box {
      display: none;
      border: solid white 2px;
      border-radius: 10px;
      width: 45%;
      padding: 5px;
  } 

  .content-box-head {
      padding: 12px 50px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
  }

  .content-box-head p {
    text-shadow: 1px 2px black;
    font-weight: 700;
    font-size: 22px;
}

  .content-box-mid p {
      font-size: 12px;
      color: black;
  }

  .content-box-mid {
    background-color: white;
    padding: 10px;
    margin: 5px 0px 5px 0px;
}

.content-box-end p {
    text-shadow: 1px 2px black;
    font-weight: 400;
    font-size: 20px;
}

.content-box-end {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    grid-gap: 5px;
}

.content-box-end div {
    height: 100%;
    padding: 12px 20px;
}

.content-box-end div:first-child{
    border-bottom-left-radius: 8px;
}

.content-box-end div:last-child{
    border-bottom-right-radius: 8px;
}

.btn {
    position: fixed;
    top: 20px;
    right: 100px;
    display: block;
	cursor: pointer;
	padding: 15px 20px;
	margin: 20px;
    font-weight: bold;
    border-radius: 8px;
}

.btn-primary {
	background: grey;
	color: white;
}