*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

.dropdown-first{
    
    list-style-type: none;
}

.secNav-links .dropdown-first a {
    font-size: 14px;
    font-style: italic;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.container{
    z-index: 2;
}

.nav-icons {
    font-size: 28px;
}

.firstNav {
    background-color: #4A4D4E;
    min-height: 4vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.secondNav {
    background-color: transparent;
    min-height: 10vh;
    z-index: 1;
}

.hidden-nav {
    display: none;
    width: 100%;
    background-color: white;
    min-height: 7vh;
    position: absolute;
    align-items: center;
    opacity: 0.85;
    list-style-type: none;
    padding-left: 15%;
    padding-right: 25%;
    z-index: 0.5;
}

@keyframes load{
    0%{
        opacity: 0;
        transform: translateY(-50px)
    }
    50%{
        opacity: 0.1;
    }
    100%{
        transform: translateY(0px)
    }
}

.hidden-nav a {
    white-space: nowrap;
    font-size: 18px;
    display: block;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 15px;
    z-index: 0.5;
}

.hidden-nav li a:hover{
    color: red;
    background-color: rgb(231, 229, 229);
}

.hidden-nav-anim{
    animation: load 1s forwards;
    z-index: 0.5;
}

h5 {
    display: block;
    color:#CCCCCC;
    background-color: #4A4D4E;
}

#firstItem {
    padding: 10px 20px;
    font-size: 12px;
    display: flex;
    text-decoration: none;
    color:#333333;
    background-color: #FCFDFD;
}

#secondItem {
    font-size: 12px;
    padding: 10px 20px;
    display: flex;
    text-decoration: none;
    color:#CCCCCC;
    background-color: #4A4D4E;
}

#thirdItem {
    font-size: 12px;
    white-space: nowrap;
    padding: 10px 25px;
    display: flex;
    text-decoration: none;
    color:#CCCCCC;
    background-color: #4A4D4E;
}

#secondItem:hover{
    color: black;
    background-color: white;
}

#thirdItem:hover{
    color: black;
    background-color: white;
}

.nav-links{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 30%;
    z-index: 1;
}

.secNav-links{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    z-index: 1;
}

.secNav-links a{
    white-space: nowrap;
    font-size: 22px;
    display: block;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 20px 20px 20px;
    border-bottom: 3px solid white;
}

.secNav-links li a:hover{
    color: red;
    border-bottom: 3px solid red;
}

.burger {
    display: none;
}

.burger div{
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 3px;
}

.icons{
    background-color: rgb(70, 63, 63);
    height: 22vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons div a {
    text-decoration: none;
    color: white;
    size: 20px;
    text-align: center;
}

.icons div i {
    font-size: 50px;
    color:white;
    display: flex;
    padding: 20px;
    align-items: center;
}

.icons i:hover {
    transform: scale(1.1);
}

.nav-icons i{
    color:black;
}

.nav-icons i:hover {
    transform: scale(1.1);
}

.image-container{
    margin: auto;
    width: 100%;
    height: 58vh;
    background-image: url('pictures/Catamaran-infosite-CONS-Portal3686-fooldal_banner-lg_V2.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 970px) {
	.image-container{
        width: 100%;
        
        background-image: url('pictures/Catamaran-infosite-CONS-Portal3686-fooldal_banner-md_V2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .burger {
        display: block;
    }

    .firstNav {
        display: none;
    }

    .secNav-links {
        display:none;
    }
}

@media only screen and (max-width: 640px) {
	.image-container{
        width: 100%;
        
        background-image: url('pictures/Catamaran-infosite-CONS-Portal3686-fooldal_banner-sm_V2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .firstNav {
        display: none;
    }
}



